.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #35cea0;
    opacity:0.7 ;
    padding: 10px 0;
    box-sizing: border-box;
    z-index: 100;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .flex {
    display: flex;
    justify-content: space-between;
  }
  
  .social {
    display: flex;
  }
  
  .icon {
    font-size: 1.5rem;
    margin-right: 10px;
  }
  
